.jumbotron{
 
    color: white;
    margin-top: 55px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 15px;
}

.btn{
    background-color: violet;
    color: black;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

.btn-reserva{
    width: 100%;
    left: 0;
    bottom: 0;
  
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
    padding-bottom: 10px;
}